# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env*.local

# Logs
logs
*.log
npm-debug.log*

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
